* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #564846;
    background-image: url("./img/background.png ");
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fffbef;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.instructions ol {
    text-align: left;
    list-style: decimal;
    padding-left: 20px;
    margin-bottom: 20px;
    border: 2px solid #ffb3c6;
    border-radius: 10px;
    ;
}

.instructions ol li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.contact {
    text-align: left;
}

.contact p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.contact ul {
    list-style: none;
}

.contact ul li {
    font-size: 1rem;
    margin-bottom: 5px;
}

footer {
    margin-top: 20px;
    font-size: 1.2rem;
    font-style: italic;
    color: #666;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .instructions ol li {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
    }
}